html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3rem;
    color: darkred;
    background-color: white;
    padding: 2rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
nav {
    background-color: tan;
    min-height: 3rem;
    min-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
}
nav li {
    display: inline-block;
    padding: 0 1.5rem;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
header {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/);
    background-size: cover;
}
content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#about-me {
    background-color: tan;
    padding: 1rem;
    margin: 0 10rem;
    min-width: 75%;
}
#about-me p {
    padding: 0 2rem;
}
#projects {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-box {
    box-sizing: border-box;
    width: 30rem;
    min-width: 30rem;
    height: 40rem;
    border: 2px solid black;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}
.project-box img {
    max-width: 20rem;
}
footer {
    text-align: center;
    width: auto;
    background-color: tan;
    padding: 0.5rem;
}

